<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">Welcome to eBay Average Price Finder</div>

	<img class="ui middle aligned huge image" src="https://tehnoblog.org/wp-content/uploads/2017/11/eBay-Logo.png">
</div>

<% include ./partials/footer %>
