<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">Search for your item:</div>
	<div class="ui top attached segment">
		<div class="ui subtitle">
			<strong>Item: </strong><%= item %>
		</div>
		<div class="ui subtitle">
			<strong>Average Price: </strong><%= avgPrice.toFixed(2) %>
		</div>

	</div>
</div>


<% include ./partials/footer %>
